<div class="page__footer-follow">
  <ul class="social-icons">
    <li><a href="https://github.com/giangnguyen2412" rel="nofollow noopener noreferrer" target="_blank"><i class="fab fa-fw fa-github" aria-hidden="true"></i> GitHub</a></li>
    <li><a href="https://scholar.google.com/citations?user=l_kfXecAAAAJ&hl=en" rel="nofollow noopener noreferrer" target="_blank"><i class="fas fa-fw fa-graduation-cap" aria-hidden="true"></i> Scholar</a></li>
    <li><a href="https://www.linkedin.com/in/giangnguyen2412/" rel="nofollow noopener noreferrer" target="_blank"><i class="fab fa-fw fa-linkedin" aria-hidden="true"></i> LinkedIn</a></li>
    <li><a href="mailto:nguyengiangbkhn@gmail.com"><i class="fas fa-fw fa-envelope" aria-hidden="true"></i> Email</a></li>
  </ul>
</div>

<div class="page__footer-copyright">
  &copy; {{ site.time | date: '%Y' }} Giang Nguyen</a>.
</div>
